
.d-flex-main-container{
    background-color: wheat;
    flex: 1;
}

.app-name-start{
    font-size: x-large;
    font-style: normal;
    color: black;

}

.app-name-end{
    font-size: x-large;
    font-style: normal;
    color: coral;
    margin-left: 6px;
}

.block {
    display:  flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-bottom: 10vh;
    font-size: 20px;
    margin: 20px 20px;
}

.section-name{
    display: flex;
    align-self: flex-start;
}

.search-box{
    width: 500px;
    border-radius: 10px;
    border-color: white;
    shape-rendering: auto;
    padding: 10px;

}

.navigatin-container{
    padding-left: 20px;
    align-items: center;
    
}

.m-2{
    align-self: center;
    color: black;
    align-items: center;
    vertical-align: middle;
}